@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

/* add border to input field */
select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: 	#FBCEB1;
    border-radius: 4px;
}

.active{
    background-color: #FBCEB1;
    border-color: #FF7F50
}